RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([A-Za-z0-9-]+)/([^/]+) index.php?method=$1&param1=$2 

<Files "*.ini"> 
  deny from all 
</Files>